@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.showcase-gallery:has(label input:checked) > label {
  margin-top: 0px;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  animation: grow cubic-bezier(0.76, 0, 0.24, 1) forwards 0.5s;
}
@keyframes grow {
  0% {
    width: auto;
  }
  100% {
    width: 100%;
  }
}

.showcase-gallery:has(label input:checked) {
  animation: shrink-columns 0.5s forwards 0.6s;
}
@keyframes shrink-columns {
  0% {
    column-gap: 19px;
  }
  10% {
    column-gap: 17px;
  }
  20% {
    column-gap: 15px;
  }
  30% {
    column-gap: 13px;
  }
  40% {
    column-gap: 11px;
  }
  50% {
    column-gap: 9px;
  }
  60% {
    column-gap: 7px;
  }
  70% {
    column-gap: 5px;
  }
  80% {
    column-gap: 3px;
  }
  90% {
    column-gap: 1px;
  }
  100% {
    column-gap: 0px;
  }
}

.showcase-gallery:has(label input:checked) > label:not(:has(input:checked)) {
  transform: translateY(0px);
  overflow: hidden;
  white-space: nowrap;
  animation: shrink 0.8s cubic-bezier(0.65, 0, 0.35, 1) forwards 0.2s;
}
/* ADD SOME BLUR/OPACITY ANIMATIONS */
@keyframes shrink {
  0% {
    width: 100%;
  }
  50% {
  }
  100% {
    min-width: 0;
    width: 0px;
  }
}

.slide-transition {
  transition: all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 900ms;
}

.linearBlur {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.gradientBorderMask::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  border-radius: 50px;
  border: 2px solid transparent;
  background: linear-gradient(45deg, #a67458, #2d2d2d) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

@media (width <= 768px) {
  .showcase-gallery:has(label input:checked) > label {
    margin-top: 0px;
    height: 555px;
    transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    animation: grow cubic-bezier(0.76, 0, 0.24, 1) forwards 0.5s;
  }
  @keyframes grow {
    100% {
      transform: translateY(0px);
      width: 100%;
    }
  }
  .showcase-gallery:has(label input:checked) {
    animation: shrink-columns 0.5s forwards 0.6s;
  }
  .showcase-gallery:has(label input:checked) > label:not(:has(input:checked)) {
    transform: translateY(0px);
    overflow: hidden;
    white-space: nowrap;
    animation: shrink-mobile 0.8s cubic-bezier(0.65, 0, 0.35, 1) forwards 0.2s;
  }
  @keyframes shrink-mobile {
    0% {
      width: 100%;
    }
    100% {
      width: 0px;
    }
  }

  @keyframes shrink-columns {
    0% {
      column-gap: 5px;
    }
    100% {
      column-gap: 0px;
    }
  }
}

.swiper-pagination-bullet {
  background-color: #2d2d2d;
  width: 8px;
  height: 8px;
  border-radius: 9999px;
}
